.root {
  font-family: 'Inter', Arial, sans-serif;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
  background-color: #FFF;
  color: #000;
}

@media (max-width: 768px) {
    .root {
      padding: 0;
  }
}

@media (max-width: 320px) {
  .root {
    padding: 0;
  }
}